body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100dvh;
}

.header , .footer{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: #e5e7eb;
}

.header{
    padding: 10px 0px;
    font-size: 60px;
    text-align: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 80px;
    flex-shrink: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 50px;
    flex-wrap: wrap;
}

.rules{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.sidepanel{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.firstDiv{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.secondDiv{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option{
    text-align: center;
}

button{
 height: 100px;
 width: 180px;
 margin:10px 20px;
 border-radius: 7px;
 font-size: 20px ;
}

button:hover {
    filter: brightness(85%);
}

p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 180px;
    margin-top: 0;
}


.value{
    border-radius: 5px;
    width: 160px;
    padding: 10px;
}

.grid{
    display: flex;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    align-items: center;
    justify-content: center;
}
